[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "content/sample-content-repo"]
	path = content/sample-content-repo
	url = https://github.com/YashJipkate/sample-content-repo
